<?php
include 'app/code/CopyNinja.php';
$sourceDir = '/Volumes/Samsung_T5/canon-m50/to-do-sorts/10-17-pumpkin-patch/';
$exportDir = '/Volumes/Samsung_T5/canon-m50/family/10-17-pumpkin-patch/';
$model = new CopyNinja($sourceDir, $exportDir);
?>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.72.0">
    <title>Cover Template · Bootstrap</title>

    <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        body {
            box-shadow: none !important;
        }

        .col {
            margin-bottom: 10px;
        }

        .card {
            background-color: #42474D;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        #copybutton {
            margin-bottom: 15px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="assets/css/cover.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-3">
        <div>
            <h3 class="float-md-left mb-0">Keeping It Code</h3>
            <nav class="nav nav-masthead justify-content-center float-md-right">
                <a class="nav-link active" aria-current="page" href="#">Copy Ninja</a>
<!--                <a class="nav-link" href="#">Features</a>-->
<!--                <a class="nav-link" href="#">Contact</a>-->
            </nav>
        </div>
    </header>

    <main class="px-3">
        <form>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg" id="copybutton">0 Selected</button>
            </div>
            <div class="form-group">
                <div class="alert alert-secondary" role="alert" id="selectiondisplay"></div>
            </div>
        </form>
        <?php foreach ($model->getFiles() as $ext => $list): ?>
        <div class="container">
        <?php $rowCount = 0; ?>
        <?php $totalCount = 0; ?>
        <?php foreach ($list as $id): ?>
        <?php if ($rowCount == 0): ?>
        <div class="row align-items-center file-type-<?= $ext ?>">
        <?php endif; ?>
        <?php $rowCount++; ?>
        <?php $totalCount++; ?>
            <div class="col">
                <?php $elementId = $id . '-' . $ext; ?>
                <?php $cardName = $id . '.' . $ext; ?>
                <div class="card <?= $cardName ?>">
                    <div class="card-body">
                        <h4 class="card-title"><?= $cardName ?></h4>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input card-checkbox" id="<?= $elementId ?>>" data-id="<?= $id ?>">
                            <label class="custom-control-label" for="check-<?= $elementId ?>>">
                                <?= $id ?>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        <?php if ($rowCount % 2 == 0 || $totalCount == count($list)): ?>
            <?php $rowCount = 0; ?>
        </div>
        <?php endif; ?>
        <?php endforeach; ?>
        </div>

        <?php endforeach; ?>
    </main>
</div>
<script>
    let selection = [];
    $( ".card-checkbox" ).change(function() {
        let cardId = $(this).data("id");

        if ($(this).is(":checked")) {
            if ($.inArray(cardId, selection) === -1) {
                selection.push(cardId);
            }
        } else {
            if ($.inArray(cardId, selection) !== -1) {
                selection = jQuery.grep(selection, function(value) {
                    return value !== cardId;
                });
            }
        }

        $("#copybutton").html(selection.length + " Selected");
        $("#selectiondisplay").html("'" + selection.join("','") + "'")

        console.log(selection);
    });

    $( "#copybutton" ).click(function() {

    });
</script>
</body>
</html>
